@import "tailwindcss";

@font-face {
  font-family: "Basier Circle Regular";
  src: url("./public/assets/fonts/basiercircle.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle Bold";
  src: url("./public/assets/fonts/BasierCircle-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle Semibold";
  src: url("./public/assets/fonts/BasierSquare-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@theme {
  --color-dark-variant: #2b2b2b;
  --color-dark: #040308;
  --color-primary: #5639fa;
  --color-secondary: #ddfa39;
  --color-primaryLight-variant1: #9578fd;
  --color-primaryLight-variant2: #d4c6fd;
  --color-primaryDark-variant: #2a2cea;
  --color-errors: #fa5639;

  --font-headersBold: "Basier Circle Bold";
  --font-headersRegular: "Basier Circle Regular";
  --font-headersSemi: "Basier Circle Semibold";
  --font-body: "Plus Jakarta Sans";

  --text-title-4xl: 4.75rem; /* 76px */
  --tracking-space-4xl: calc(4.75rem * -0.02);
  --leading-4xl: calc(76px * 1.1);

  --text-title-3xl: 3.875rem; /* 62px */
  --tracking-space-3xl: calc(3.875rem * -0.01);
  --leading-3xl: calc(62px * 1.1);

  --text-title-2xl: 3rem; /* 48px */
  --leading-2xl: 58px;

  --text-title-xl: 2.5rem; /* 40px */
  --leading-xl: 52px;

  --text-title-lg: 2rem; /* 32px */
  --leading-lg: 46px;

  /* desktop base font */
  --text-title-md: 1.5rem; /* 24px */
  --leading-md: 36px;
  /* desktop notes font */
  --text-title-sm: 1.25rem; /* 22 px */
  /* mobile base font */
  --text-title-base: 1rem;
  --leading-mobile-body: 28px;
  --leading-details-desktop: 24px;

  --text-title-xs: 0.75rem; /* 12px */

  --text-secondary-mobile: 0.875rem; /* 14px */
  --leading-secondary-mobile: 22px;
  --text-mobile-h2: 2.75rem;

  --leading-mobile-h2: 52px;
  --tracking-mobile-h2: calc(2.75rem * -0.01);

  --text-mobile-h3: 2.25rem;
  --leading-mobile-h3: 42px;
  --tracking-mobile-h3: calc(2.25rem * -0.01);

  --text-mobile-h4: 2rem;
  --leading-mobile-h4: 32px;

  --text-mobile-body: 1rem;
  --leading-mobile-body: 28px;

  --breakpoint-sm: 30rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}

:root {
  --margin-mobile: 2.25rem;
  --margin-desktop: 3.5rem;
}

@utility title-h1 {
  font-size: var(--text-title-4xl);
  line-height: var(--leading-4xl);
  letter-spacing: var(--tracking-space-4xl);
  font-family: var(--font-headersBold);
}
@utility title-h2 {
  font-size: var(--text-title-3xl);
  line-height: var(--leading-3xl);
  letter-spacing: var(--tracking-space-3xl);
  font-family: var(--font-headersSemi);
}
@utility title-h3 {
  font-size: var(--text-title-2xl);
  line-height: var(--leading-2xl);
  font-family: var(--font-headersSemi);
}
@utility title-h4 {
  font-size: var(--text-title-xl);
  line-height: var(--leading-xl);
  font-family: var(--font-headersRegular);
}
@utility title-h5 {
  font-size: var(--text-title-lg);
  line-height: var(--leading-lg);
  font-family: var(--font-headersRegular);
}
@utility body-font-desktop {
  font-size: var(--text-title-md);
  line-height: var(--leading-md);
  font-family: var(--font-body);
}
@utility note-details-desktop {
  font-size: var(--text-base);
  line-height: var(--leading-details-desktop);
  font-family: var(--font-body);
}

/* MOBILE */
@utility title-mobile-h2 {
  font-size: var(--text-mobile-h2);
  line-height: var(--leading-mobile-h2);
  letter-spacing: var(--tracking-space-h2);
  font-family: var(--font-headersSemi);
}
@utility title-mobile-h3 {
  font-size: var(--text-mobile-h3);
  line-height: var(--leading-mobile-h3);
  letter-spacing: var(--tracking-space-h3);
  font-family: var(--font-headersSemi);
}
@utility title-mobile-h4 {
  font-size: var(--text-mobile-h4);
  line-height: var(--leading-mobile-h4);
  font-family: var(--font-headersSemi);
}
@utility body-font-mobile {
  font-size: var(--text-title-base);
  line-height: var(--leading-mobile-body);
  font-family: var(--font-body);
}
@utility note-details-mobile {
  font-size: var(--text-secondary-mobile);
  line-height: var(--leading-secondary-mobile);
  font-family: var(--font-body);
}
@utility grid-area {
  grid-column: 1/2;
  grid-row: 1/2;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark);
  background-image:
    radial-gradient(#5639fa 0.5px, transparent 1px),
    radial-gradient(#5639fa 0.5px, transparent 1px);
  background-size: 68px 68px;
  background-position:
    0 0,
    34px 34px;
}

.button-effect {
  @apply after:absolute after:-right-4 after:opacity-0 after:transition-all after:duration-500 after:ease-in-out after:content-['>'] hover:after:right-3 hover:after:opacity-100;
}
